*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    line-height: 1.5;
    background-color: rgb(216, 250, 250);
}

p{
    margin: 10px 0;
}

h1, h2, h3, h4{
    margin: 10px 0;
}

.tab h2{
    font-weight: lighter;
}

.tab i{
    margin-right: 15px;
}

.tab{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    margin: 10px 20px;
    padding-left: 20px ;
    padding-right: 5px;
}

.tab:hover{
    background-color: aqua;
    cursor: pointer;
}

.left{
    background-color: white;
    height: 100vh;
    box-shadow: 1px 0px 0px rgba(22, 27, 27, 0.1);
    justify-content: space-between;
    margin-right: 50px;
    text-align: center;
    position: fixed;
}

.fantasy{
    font-family: cursive;
}


/* right */

.right{
    margin-top: 30px;
    margin-left: 50px;
    position: relative;
    left: 280px;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    gap: 10px;
}

.header{
    height: 150px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 1px 1px rgba(22, 27, 27, 0.3);
    
}

.story{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.circle{
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;

}

.inner{
    height: 85px;
    width: 85px;
    border-radius: 50%;
    /* background-color: blanchedalmond; */
    border: 3px solid rgb(221, 84, 84);
    object-fit: cover;
}



.title{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 1px 1px rgba(22, 27, 27, 0.3);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.content{
    /* height: 200px; */
    width: 100%;
    background-color: white;
}

.content-img{
    width: 100%;
}

.bottom{
    background-color: white;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 20px;
    /* box-shadow: 0px 0px 1px 1px rgba(22, 27, 27, 0.3); */
}

.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}


/* last */

.last{
    position: relative;
    left: 300px;
    top: 60px;
    width: 350px;
}

.comment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.input{
    width: 50%;
}

input{
    margin-left: 10px;
    border: none;
}

.light{
    font-weight: lighter;
    opacity: 50%;
    font-size: small;
}
.bold{
    font-weight: lighter;
    font-size: small;
}

.last-in{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 5px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line{
    line-height: 0.7;
    margin-left: 10px;
}

.switch{
    color: blueviolet;
    font-size: small;
}

.bolder{
    font-weight: bold ;
    font-size: small;
}

.suggestion{
    margin: 10px 0;
}

.inner-small{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    /* background-color: blanchedalmond; */
    object-fit: cover;
}

.add{
    border: 2px solid rgb(221, 84, 84);
    margin-right: 10px;
}

.low{
    color: rgb(204, 168, 238);
}